.card {
    width: 92%;
    margin: 1rem auto;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #4445;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.card-completed {
    width: 92%;
    margin: 1rem auto;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #4445;
    cursor: pointer;
    color: #f5f5f5;
    transition: all 0.4s ease-in-out;
    opacity: 0.5;

    .number {
        position: absolute;
        top: -70px;
        right: -70px;
        padding: 60px 80px 10px 30px;
        background: #44e30f;
        border-radius: 100%;
        z-index: 5;
    }

    .number::after {
        content: "";
        width: 2900px;
        height: 2900px;
        background: #44e30f;
        position: absolute;
        border-radius: 100%;
        top: 50%;
        right: 50%;
        transition: all 0.5s;
        transform: translateX(50%) translateY(-50%);
        z-index: -1;
    }

    .finished {
        position: absolute;
        color: #f5f5f5;
        z-index: 15;
    }
}

.icon,
.heading,
.content {
    position: relative;
    z-index: 5;
    transition: all 0.5s;
    max-width: 80%;
}

.icon {
    width: 40px;
    fill: #0e2954;
    margin-bottom: 20px;
}

.heading {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.number {
    position: absolute;
    top: -70px;
    right: -70px;
    padding: 60px 80px 10px 30px;
    background: #0e2954;
    border-radius: 100%;
    z-index: 5;
}

.number .text {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.text {
    margin-top: 20px;
}

.number::after {
    content: "";
    width: 50px;
    height: 50px;
    background: #0e2954;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    right: 50%;
    transition: all 0.5s;
    transform: translateX(50%) translateY(-50%);
    z-index: -1;
}

.card:hover {
    scale: 1.02;
    box-shadow: 0 5px 20px #444e;
}

.card:hover .number::after {
    width: 2900px;
    height: 2900px;
}

.card:hover .icon,
.card:hover .heading,
.card:hover .content {
    color: #f5f5f5;
    fill: #f5f5f5;
}